$backgroundColorLoginRoot: rgb(187 247 208);
$widthLoginRoot: 40vw;
$heightLoginRoot: 80vh;
$borderRadiusLoginRoot: 2vw;
$displayLoginRoot: flex;
$flexDirectionLoginRoot: column;
$justifyContentLoginRoot: center;
$alignItemsLoginRoot: center;

.root {
  background-color: $backgroundColorLoginRoot;
  width: $widthLoginRoot;
  height: $heightLoginRoot;
  border-radius: $borderRadiusLoginRoot;
  display: $displayLoginRoot;
  flex-direction: $flexDirectionLoginRoot;
  justify-content: $justifyContentLoginRoot;
  align-items: $alignItemsLoginRoot;
}
