@import  'pages/styles/_variables.scss';

.container {
  background-color: $backgroundColorLoginContainer;
  width: $widthLoginContainer;
  height: $heightLoginContainer;
  border-radius: $borderRadiusLoginContainer;
  display: $displayLoginContainer;
  flex-direction: $flexDirectionLoginContainer;
  justify-content: $justifyContentLoginContainer;
  align-items: $alignItemsLoginContainer;
}
