@import  'pages/styles/_variables.scss';

.root {
  background-color: $backgroundColorLoginRoot;
  width: $widthLoginRoot;
  height: $heightLoginRoot;
  border-radius: $borderRadiusLoginRoot;
  display: $displayLoginRoot;
  flex-direction: $flexDirectionLoginRoot;
  justify-content: $justifyContentLoginRoot;
  align-items: $alignItemsLoginRoot;
}
